body{
	background-image: url(http://farm4.staticflickr.com/3632/5779401142_78dd986417_o.jpg);
	background-position: fixed;
	width: 100vw;
	height:100vh;
}
/*.navbar{
background-color: rgba(200,200,200,.8)
}*/
.srchField{
	width:75%;
	display:inline;
}
.navbar h3{
	display:inline;
}
.navbar a{
	display:inline;
	float:right;
}
.homeView{
	background-color: rgba(100,100,100,.6);
	height:250px;
	border-radius: 4px;
	margin-top: 15vh;
	color:white;
}
.well{
	background-color: rgba(100,100,100,.6);
	border-color: rgba(100,100,100,.6);
	color:white;
}
.well a{
	color:white;
}
.well img{
	max-height:50px;
	display:inline-block;
}
.well h1{
	display:inline-block;
	vertical-align: bottom;
}
textArea{
	width:100%;
	height:50px;
}
/*#commentArea{
	max-height:40vh;
	overflow:auto;
}*/
.css-movieInfo{
	background-color: rgba(100,100,100,.6);
	border-color: rgba(100,100,100,.6);
	border-radius: 4px;
	color:white;
	height: 87vh;
	overflow:auto;
}
.css-alertText{
	color:white;
	margin-left:100px;
}
.css-alert{
	display:none;
}
.css-fullView{
	max-height: 88vh;
	overflow:auto;
}
.css-fullView::-webkit-scrollbar{
	background-color: rgba(200,200,200,0);
	width:6px;
}
.css-fullView::-webkit-scrollbar-thumb{
	background-color: rgba(200,200,200,.4);
	width:6px;
}
#tagField{
	width:28vw;
	border-radius:7px;
	height:4.3vh;
	border:1px solid white;
}
.css-tagHead{
	background-color: rgba(100,100,100,.6);
	border-radius: 4px;
	color:white;
	text-align: center;
	padding:5px auto;
}