<% include ../shared/header %>
	<div class="col-sm-6 col-sm-offset-3 homeView">
		<h1>Welcome to the movies.</h1>
		<p>Movies.movies is the site for you if you like to movie your movies. You can rest easy, knowing that every movie you movie, has also movied you in the movie. So movie away with as many movies as you can movie.</p>
	</div>
<% include ../shared/footer %>